<h1>Página Renderizada com Template Engine</h1>
<p>Agora vamos utilizar técnicas de layout parametro</p>
<h3>Usuário</h3>
<ul>
    <li><strong>Nome:</strong> {{user.name}} </li>
    <li><strong>Sobrenome:</strong> {{user.surname}} </li>
    <li><strong>Idade:</strong> {{user.age}} </li>
</ul>