<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuário</title>
</head>
<body>
    <h1>Adição de Usuário</h1>
    <form action="/list/resolve" method="post">
        <div>
            <input type="text" name="numero1" id="numero1" placeholder="Entre com numero 1">
        </div>
        <div>
            <input type="text" name="numero2" id="numero2" placeholder="Entre com numero 2">
        </div>
        <p>
            Se a soma dos numeros for par, você será direcionado para o cadastro de usuário. Já se for 
            impar será enviado para index.
        </p>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>
</html>